<div ng-app="Shortly">

<header>
  <nav class="navigation">
    <ul>
      <li><a href="/">Links</a></li>
      <li><a href="/create">Shortlify Link</a></li>
      <li class="logout">Logout</li>
    </ul>
  </nav>
</header>


<div id="main">
  <div ng-view></div>
</div>

</div>

